/*
    VARIABLES
*/

:root {
	--primary: #bec1ff;
	--secondary: #1100ff;
	--black: #000000;
	--white: #ffffff;
	--green: rgb(0, 255, 0);
	--dark-green: #19a900;

	--color-background: #ffffff;
	--color-text: #000000;

	--header-height: 27px;

	--line-height: 1rem;
	--line-height-heading: 4.5rem;

	--spacing: 1rem;
}

/*
    RESET CSS STYLING
*/

/*
    1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
	margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
	height: 100%;
	scroll-behavior: smooth;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/*
    10. Other
  */

ul {
	padding: 0;
	list-style-type: none;
}

.is-disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.is-disabled > a {
	color: currentColor;
	display: inline-block; /* For IE11/ MS Edge bug */
	pointer-events: none;
	text-decoration: none;
}

::selection {
	color: var(--color-background);
	background: var(--secondary); /* WebKit/Blink Browsers */
}
::-moz-selection {
	color: var(--color-background);
	background: var(--secondary); /* Gecko Browsers */
}

a {
	color: var(--color-text);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	font-style: italic;
}

.col {
	float: left;
	width: 25%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media (max-width: 768px) {
	.col {
		width: 100%;
	}
}

.two-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.column {
	width: 50%;
}

@media (max-width: 768px) {
	.column {
		width: 100%;
	}
}

.hide-mobile {
	display: block;
}

@media (max-width: 768px) {
	.hide-mobile {
		display: none;
	}
}

.font-serif {
	font-family: "Times New Roman", Times, serif;
	letter-spacing: -2px;
}

.font-mono {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
}

/*
    CUSTOM CSS STYLING
*/

body {
	background-color: var(--color-background);
	color: var(--color-text);
	width: 100%;
	font-family: "Manrope", sans-serif;
	font-weight: 500;
	font-size: 0.85rem;
	letter-spacing: -1px;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: var(--color-background);
	z-index: 999;
}

.header__tagline {
	font-size: clamp(1.5rem, 0.4286rem + 3.4286vw, 3rem);
}

.header__tagline:first-of-type {
	line-height: 0.9;
}

.content {
	margin-top: calc(var(--header-height) + 8vh);
	padding-bottom: calc(var(--spacing) * 3);
}

.paragraph {
	font-weight: 400;
	line-height: 1.05;
	letter-spacing: normal;
	margin-bottom: 0.3rem;
	font-size: clamp(1.25rem, 0.5357rem + 2.2857vw, 2.25rem);
}

.paragraph a {
	text-decoration: underline;
}

.paragraph a:hover {
	font-style: italic;
}

.works__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 0.25rem;
	margin-bottom: 0.25rem;
}

.works__item:last-of-type {
	margin-bottom: 0;
}

.works__img {
	flex: 1;
	height: 100%;
	width: 15vw;
}

.works__img:hover {
	cursor: nesw-resize;
}

.works__img.active {
	flex: 7;
}

.copy-email {
	background: none;
	color: inherit;
	font-size: inherit;
	border: none;
	text-align: inherit;
	cursor: pointer;
	padding: 0;
}

.copy-email:hover {
	text-decoration: underline;
	font-style: italic;
}

.success-text {
	display: none;
	background: var(--dark-green);
	color: var(--white);
}

.footer {
	background: var(--color-background);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: clamp(1.25rem, 0.7143rem + 1.7143vw, 2rem);
	line-height: 1.2;
}

.marquee {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.marquee span {
	display: inline-block;
	animation: marquee 25s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translateX(50vw);
	}
	100% {
		transform: translateX(-100%);
	}
}

@media (max-width: 768px) {
	body {
		font-size: 1.1rem;
		overflow: auto;
	}

	.font-serif {
		letter-spacing: -1px;
	}

	.works__item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.works__img {
		width: 100%;
		pointer-events: none;
	}
}
